<%= link_to "Back", root_path, :class => 'navbar-link' %>
<% @programs.each do |program| %>
  <p>
    <%= link_to program.name, program_path(program), :class => 'navbar-link' %> | 
    <%= link_to "Edit Program", edit_program_path(program), :class => 'navbar-link' %> | 
    <%= link_to "Delete Program", program_path(program), method: :delete, :class => 'navbar-link'  %>
  </p>
<% end %>